/* .max_height div {
  height: 100%;
} */
.menu_link {
    display: block;
    width: auto;
    font-size: auto;
    margin-left: 20%;
}

.profile_edit {
  width: 60%;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}


.semi-transparent {
  background:rgba(255,255,255,0.5)
}

.semi-transparent p {
  background-color: rgba(255,255,255,0.5)
}

/* sets background image and scales to resize with screen */
.set_background {
    background: url(../img/back.jpg) no-repeat center center;
    background-size: cover;
    height: 0;
    padding-bottom: 56.25%;
  }

.no_padding * {
  padding-right: 0px;
  padding-left: 0px;
}


.text_wrap p {
  word-wrap: break-word;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.header_bar {
  height: 20%;
}

.center_text {
  text-align: center;
}

.nav_bar {
  height: 80%;
  border: 4px solid black;
  font-size: 15px;
}

.body_height {
  height: 100px;
}

.outline {
  border: 4px solid black;
}
